/*--------------------------------------------------------------
# Nuestro primer CSS en curso FrontEnd
--------------------------------------------------------------*/

body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
}